body{
    background-color: black;
    background-image: url('BlackGold.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.title{
    width:100%;
    max-width:1000px;
    color: white;
    text-align: center;
    font-size: 40px;
    
    margin: 0 auto;
    border-radius: 25px;
}

.title-sub{
    text-align: center;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.451);
    transform: translateY(-70px);
}

.UserNameInput {
    width: 100%;
    max-width:400px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;

    display: flex;
    gap: 6px;

    border:none;
    outline: none;
    flex-grow: 1;
    min-width: 0;

    background-color:rgba(255, 255, 255,.5);
    border-radius: 10px;
}

.UserNameInput::placeholder {
    color:black;
}

.UserNameInputButton {
    width: 100%;
    max-width:100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin: 0 auto;

    border:none;
    outline: none;
    flex-grow: 1;
    min-width: 0;

    background-color:rgba(255, 255, 255,.5);
    border-radius: 10px;
}

.UserNameInputButton:hover {
    background-color:rgba(100,100,100,.5);
}


.PlayTime{
    padding-top: 0px;
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 15px;

    color:white;
    
    background-color:rgba(5, 139, 5, 0.5);
    border-radius: 25px;
    width: 400px;
}

.playtimeTitle {
    background-color:rgba(14, 155, 143, 0.507);
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.ServerStatsNTitle {
    margin: 0 auto;
    color:white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;

    
    border-radius: 15px;
    width:400px;
}

.ServerStatsTitle {
    margin: 0 auto;
    color:white;
    text-align: center;

    background-color: rgba(14, 155, 143, 0.507);
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}


.InputUN{
    padding-top: 0px;
    margin: 0 auto;
    text-align: center;
    color:white;
}

.DetailedUserLink{
    color: black;
    background-color: rgba(255, 255, 255, .9);
    text-decoration: none;

    padding: 3px;
    border-radius: 8px;

}

.DetailedUserLink:hover{
    background-color: rgba(150,150,150,.9);
}


/* DSU */

.DSU_lookup {
    color: white;
    background-color: rgba(185, 163, 87, 0.7);
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    width: 90%;
}

.DSU_Type_Choice,
.DSU_Type_Choice::picker(select) {
    appearance: base-select;
}
.DSU_Type_Choice{
    border: 8px;
    border-color: black;
    border-radius: 5px;

    background-color: rgba(175, 157, 118, 0.7);
    width: 250px;
    min-width:250px;
    margin: 0 auto;
}
.DSU_Type_Choice::picker(select){
    color: white;
    background-color: rgba(41, 38, 31, 0.7);
}

.DSU_Type_Submit {
    margin-top: 5px;
    width: 100%;
    max-width:100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin: 0 auto;

    border:none;
    outline: none;
    flex-grow: 1;
    min-width: 0;

    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.DSU_Type_Submit:hover{
    background-color:rgba(150,150,150,.8);
}
