<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title> {{ SERVER }}-Minecraft </title>
    </head>
    <body>
        <div class="title" style="{{ TitleBGColor }};">
            <h1> Detailed User Stats</h1>
        </div>
        <div class="title-sub">
            <h6>Currently running for {{ SERVER }}</h6>
        </div>
            <div class="InputUN">
            <div class="playtimeTitle">
                <h2>Enter Minecraft Username Here!</h2>            
            </div>

            <div class="UserNameInput"  style="width: 20%;">
                <input type="text" id="userInput" class="UserNameInput" placeholder="Enter Minecraft Username" name="Username_DSU">
            </div>
        
            <div class="DSU_lookup">
                <h2>Pick what type of information you want?</h2>
            </div>
            
            <select id="DSU_Type_Choice_Drop" name="DSU_Type_Choice" class="DSU_Type_Choice">
                <option value="" disabled selected>Choose an option...</option>
                <option value="Block">Block</option>
                <option value="Playtime">Playtime</option>
                <option value="Mobs/Entities">Mobs/Entities</option>
            </select>

            <button onclick = "DSU_Type_POST()" type="button" class="DSU_Type_Submit">View</button>
        <!-- Littery just the copy and past of index.html sumbit I will change this one day make it where it extracts whatever data is provided from the server.
        Do not hard code the different types 
        for BACKEND
            Type
            "Block_Break":123
            "SameBlock_Place":123
            etc etc 
        Also fix the payload in the url when submited
        -->
        <script>
                let Drop = "";
                let Username = "";
                async function DSU_Type_POST() {
                    let text = document.getElementById('DSU_Type_Choice_Drop').value;
                    if (!text) {
                        return;
                    }
                    let t3xt= document.getElementById('userInput').value;
                    if (!t3xt) {
                        return;
                    }

                    Drop = text;
                    Username = t3xt;

                    let response = await fetch('/DSU_Type_Send', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},body: JSON.stringify({Drop: text,Username: t3xt})
                    });
                    let data = await response.json()

                    if (!data.success) {document.getElementById('Result').innerText = data.output;document.getElementById('output').innerText =" ";return;}

                
                    document.getElementById('Result').innerText = data.output;

                    if (data.player_exist) {document.getElementById('block').innerText = "Your playtime is " + data.hours + " hours";}

                    else {document.getElementById('block').innerText = "N/A - Player has not joined server"}

                    console.log(block);

                }

        </script> <!---->

        <h1 id = Result>{{ output }}</h1>
    </body>






</html>