<html>
    <head>
        <link rel="stylesheet" href="style.css"></link>
        <title> JustAWebsite-Minecraft </title>
    </head>
    <body>
        <div class="title">
            <h1>Welcome!</h1>
        </div>
        <div class="title-sub">
            <h6>Currently running for "mc.justawebsite.cc"</h6>
        </div>    
        <div class="playtime">
            <h6>Playtime</h6>
            <p>{{ PThours }} hours </p>
            <p> {{ onlinestatus }} </p>
            <p>{{ players }}</p>
        </div>
    </body>
</html>
