<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title> {{ SERVER }}-Minecraft </title>
    </head>
    <body>
        <!-- Title BG color is in py.py -->
        <div class="title" style="{{ TitleBGColor }};">
            <h1>Welcome!</h1>
        </div>
        <div class="title-sub">
            <h6>Currently running for {{ SERVER }} </h6>
        </div>
        

        <div class="InputUN">
            <div class="playtimeTitle">
                <h2>Enter Minecraft Username Here!</h2>            
            </div>
            <div class="UserNameInput">
                <input type="text" id="userInput" class="UserNameInput" placeholder="Enter Minecraft Username">
                <button onclick="callUUIDapi()" class = "UserNameInputButton">Submit</button>
            </div>

            <script>
                let currentUsername = "";
                async function callUUIDapi() {
                    let text = document.getElementById('userInput').value;
                    if (!text) {
                        return;
                    }

                    currentUsername = text;

                    let response = await fetch('/get-data', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},body: JSON.stringify({userInput: text})
                    });
                    let data = await response.json()

                    if (!data.success) {document.getElementById('UUIDResult').innerText = data.output;document.getElementById('playtime').innerText ="";return;}

                
                    document.getElementById('UUIDResult').innerText = data.output;

                    if (data.player_exist) {document.getElementById('playtime').innerText = "Your playtime is " + data.hours + " hours";}

                    else {document.getElementById('playtime').innerText = "N/A - Player has not joined server"}

                    console.log(playtime);

                }

            </script>

        </div>

        <div class="PlayTime">
            <h3>Your stats will be displayed below</h3>
            <p id="playtime"> Your playtime is {{ PThours }} hours </p>
            <p id="UUIDResult"> Your UUID will be displayed here</p>
            <!-- for ABOVE, Actual output is determined by the ID for some reason Idk okay. So just change that -->
            <a href="/Detailed_User_Stats" class="DetailedUserLink">Click here for more stats!</a>
        </div>
        <div class="ServerStatsTitle">
            <h2>Server Info</h2>
        </div>
        <div class="ServerStatsNTitle"  style="{{ ServerStatsBodyColor }};">
            <p> {{ SERVER }} is currently {{ onlinestatus }} </p>
            <!-- Players text is in py.py -->
            <p>{{ players }}</p>
        </div>

    </body>
</html>
